:root{
    --background-color: #232323;
    --foreground-color: #303030;
    --text-title-color: #fff;
    --text-body-color: #7f7f7f;
    --text-title-weight: 700;
    --text-body-weight: 400;
    
    background-color: var(--background-color);
    
    color: var(--text-body-color);
    font-family: 'Rubik', sans-serif;
    font-weight: var(--text-body-weight);
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

h1 {
    color: var(--text-title-color);
    font-weight: var(--text-title-weight);
    font-size: 56px;
    margin: 0;
}

a {
    color: var(--text-body-color);
    text-decoration: none;
    margin: 5px;
}

.rounded-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--foreground-color);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
}